
  <h1> <%=@skate_park.name %> </h1>
      <b>Address:</b> <%=@skate_park.address %>
        <br>
      <b>Borough:</b> <%=@skate_park.borough %>
        <br>
      <b>Rating:</b> <%= @skate_park.rating%>
        <br>
      <b>Description:</b> <%= @skate_park.description %>
        <br>
      <b>Map:</b>
        <br>
  <iframe src="<%= @skate_park.google_map %>" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<p>
  <hr>
  <h3>Reviews</h3>
<%@skate_park.park_reviews.each do |review|%>
  <div class="container">
    <b><%= link_to review.user.name, user_path(review)%></b>/
        <%= review.title%>/
          <b>rating:</b><%= review.rating%><br>
            <%= review.content %></p>
    </div>
<%end%>
<hr>

<% if user_signed_in? %>
  <%= link_to "Review Parks", new_park_review_path, :class => "button" %></p>
  <% end %>