<main class="pa4 black-80 measure center">
<legend class="f4 fw6 ph0 mh0">Edit <%= resource_name.to_s.humanize %></legend><br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, :class => "db fw6 lh-copy f6" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, :class => "db fw6 lh-copy f6" %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password", :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => "db fw6 lh-copy f6" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
  </div>

  <div class="field">
    <%= f.label :current_password, :class => "db fw6 lh-copy f6" %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password", :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
  </div>


    <div class="field">
    <%= f.label :name, :class => "db fw6 lh-copy f6" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
  </div>

  <div class="field">
    <%= f.label :age, :class => "db fw6 lh-copy f6" %>
    <%= f.number_field :age, autofocus: true, autocomplete: "age", :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
  </div>

<div class="field">
    <%= f.label :bio, :class => "db fw6 lh-copy f6" %>
    <%= f.text_area :bio, autofocus: true, autocomplete: "bio", :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
  </div>

<div class="field">
    <%= f.label :borough, :class => "db fw6 lh-copy f6" %>
    <%= f.text_field :borough, autofocus: true, autocomplete: "borough", :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Update", :class => "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %>
  </div>
<% end %>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %></p>

<%= link_to "Back", :back, :class => "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %>

</main>
