<h3>Review Form</h3>
<%= form_for @shop_review do |f| %>
  <% if @shop_review.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@shop_review.errors.count, "error") %>
        prohibited this park_review from being saved:
      </h2>
  
      <ul>
      <% @shop_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
   <% end %>
      </ul>
    </div>
 <% end %>
  
  <%= form_with model: @shop_review do |f| %>
  <b>Username: </b><%= f.collection_select :user_id, User.all, :id, :name %><br><br>
  <b>Park: </b><%= f.collection_select :skate_shop_id, SkateShop.all, :id, :name %><br><br>

    <b><%= f.label :title %></b>
     <%= f.text_field :title %>
      <br>
      <br>
    <b> <%= f.label :content %> </b>
    <%= f.text_area :content %>
      <br>
      <br>
    <b> <%= f.label :rating %></b>
    <%= f.text_field :rating %> 
     <br>
      <br>
   

  <%= f.submit "Create Review" %>
  <% end %>
<% end %>