<h3>Review Form</h3>
<%= form_for @shop_review do |f| %>
  <% if @shop_review.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@shop_review.errors.count, "error") %>
        prohibited this park_review from being saved:
      </h2>
  
      <ul>
      <% @shop_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
   <% end %>
      </ul>
    </div>
 <% end %>
  
  <%= form_with model: @shop_review do |f| %>
      <b>Username: </b><br>
        <%= current_user.name %>😈<br> 

      <b>Park: </b><br>
        <%= f.collection_select :skate_shop_id, SkateShop.all, :id, :name %><br>

        <%= f.hidden_field :user_id, value:current_user.id %>

       <b><%= f.label :title %></b><br>
          <%= f.text_field :title %><br>
    
        <b> <%= f.label :content %> </b><br>
        <%= f.text_area :content %><br>

        <b> <%= f.label :rating %></b><br>
        <%= f.text_field :rating %> 
        <br>
          <br>
      

  <%= f.submit "Create Review" %>
  <% end %>
<% end %>