<h1> Welcome Skaters </h1>


<Table>
<tr>
<td><%= link_to "Skate Spots", skate_spots_path %></td>
<td><%= link_to "Skate Parks", skate_parks_path %></td>
<td><%= link_to "Skate Shops", skate_shops_path %></td>
<tr>
</Table>

<h2> Current Users </h2>
<br>
<% @users.each do  |user| %>
  <%= link_to user.name, user_path(user) %> | Age <%= user.age%>
  <br>
  Bio: <%= user.bio %>
  <br>
  Borough: <%= user.borough %>
  <br>
  <br>
<% end %>
