<div class="profile">
 
 


 <div class="random-emoji">
<div class= "emoji"><%= @user.random_emoji %></div>
</div>

 <div class="bio">
<h1><%=@user.name %></h1>
<br>
<b>Age:</b> <%=@user.age%>
<br>
<b>Borough:</b> <%=@user.borough%> 
<br>
<b>Bio:</b> <%=@user.bio%>
<br><br>
<% if @user == current_user %>
<%= link_to "Edit Profile", edit_user_registration_path, :class => "button" %>
<% end %>
</div>

  <div class="favorites">
<b>Favorite Skate Spots:</b>
<ul>
  <% @user.favorite_spots.each do |spot| %>
  <li> 
  <b> <%= link_to spot.name, skate_spot_path(spot) %></b> | <b>Borough:</b> <%=spot.borough %> | <b>Rating:</b><%= spot.rating %> 
  </li>
  <% end %>
</ul>
<br>
<b>Favorite Skate Shops:</b>
<ul>
  <% @user.favorite_shops.each do |shop| %>
  <li> 
  <b> <%= link_to shop.name, skate_shop_path(shop) %> </b> | <b>Borough:</b> <%=shop.borough %> | <b>Rating:</b><%= shop.rating %> 
  </li>
  <% end %>
</ul>
<br>
<b>Favorite Skate Parks:</b>
<ul>
  <% @user.favorite_parks.each do |park| %>
  <li> 
    <b> <%= link_to park.name, skate_park_path(park) %> </b> | <b>Borough:</b> <%=park.borough %> | <b>Rating:</b><%= park.rating %>
  </li>
  <% end %>
</ul>
<br>
<hr>
<b> Check out what's in your city! </b>
<br>
<%= render 'near_user' %>
</div>

</div>