<main class="pa4 black-80 measure center">
  <legend class="f4 fw6 ph0 mh0">Forgot your password?</legend><br/>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, :class => "db fw6 lh-copy f6" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit "Send me reset password instructions", :class => "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %>
    </div>
  <% end %>
  <div class="lh-copy mt3">
    <%= render "devise/shared/links" %>
  </div>
</main>
