<%= form_for @skate_spot do |f| %>
  <% if @skate_spot.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@skate_spot.errors.count, "error") %>
        prohibited this skate_spot from being saved:
      </h2>
  
      <ul>
      <% @skate_spot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<main class="pa4 black-80 center measure">
  <form class="measure">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <div class="mt3">
        <%= f.label :name, :class => "db fw6 lh-copy f6" %>
        <%= f.text_field :name, :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
      </div>
      <div class="mt3">
        <%= f.label :address, :class => "db fw6 lh-copy f6" %>
        <%= f.text_field :address, :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
      </div>
      <div class="mt3">
        <%= f.label :borough, :class => "db fw6 lh-copy f6" %>
        <%= f.text_field :borough, :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
      </div>
      <div class="mt3">
        <%= f.label :description, :class => "db fw6 lh-copy f6" %>
        <%= f.text_field :description, :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
      </div>
      <div class="mt3">
        <%= f.label :rating, :class => "db fw6 lh-copy f6" %>
        <%= f.text_field :description, :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
      </div>
      <div class="mt3">
        <%= f.label 'Google Map', :class => "db fw6 lh-copy f6" %>
        <%= f.text_field :google_map, :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
      </div>
    </fieldset>
      <%= f.submit "Submit", :class => "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %>
    </div>
      <% end %>
  </form>
</main>
