<h1>Skate Spots</h1>
<h2>Manhattan</h2>
<ul>
<% @skate_spots.sort_borough('Manhattan').each do  |skate_spot| %>
  <li>
    <%= link_to skate_spot.name, skate_spot_path(skate_spot) %> | Rating <%= skate_spot.rating%>
    <br>
    Description: <%= skate_spot.description %>
    <br>
  </li>
<% end %>
</ul>

<h2>Bronx</h2>
<ul>
<% @skate_spots.sort_borough('Bronx').each do  |skate_spot| %>
  <li>
    <%= link_to skate_spot.name, skate_spot_path(skate_spot) %> | Rating <%= skate_spot.rating%>
    <br>
    Description: <%= skate_spot.description %>
    <br>
  </li>
<% end %>
</ul>
<h2>Brooklyn</h2>
<ul>
<% @skate_spots.sort_borough('Brooklyn').each do  |skate_spot| %>
  <li>
    <%= link_to skate_spot.name, skate_spot_path(skate_spot) %> | Rating <%= skate_spot.rating%>
    <br>
    Description: <%= skate_spot.description %>
    <br>
  </li>
<% end %>
</ul>
<h2>Queens</h2>
<ul>
<% @skate_spots.sort_borough('Queens').each do  |skate_spot| %>
  <li>
    <%= link_to skate_spot.name, skate_spot_path(skate_spot) %> | Rating <%= skate_spot.rating%>
    <br>
    Description: <%= skate_spot.description %>
    <br>
  </li>
<% end %>
</ul>
<h2>Staten Island</h2>
<ul>
<% @skate_spots.sort_borough("Staten Island").each do  |skate_spot| %>
  <li>
    <%= link_to skate_spot.name, skate_spot_path(skate_spot) %> | Rating <%= skate_spot.rating%>
    <br>
    Description: <%= skate_spot.description %>
    <br>
  </li>
<% end %>
</ul>