<header class="tc ph4">
  <h1 class="f3 f2-m f1-l fw2 black-90 mv3">
    Skate Spots
  </h1>
</header>

<div class="flex flex-wrap justify-center">
  <div class="pa3 pa5-ns">
    <h4 class="f4 fw6">Manhattan</h4>
    <% @skate_spots.sort_borough('Manhattan').each do  |skate_spot| %>

    <dl class="f6 lh-title mv2">
      <dt class="dib b"><%= link_to skate_spot.name, skate_spot_path(skate_spot), :class => "db f6 mb1 black link dim"%></dt>
      <dd class="dib ml0 gray">Description: <%= skate_spot.description %></dd>
    </dl>
    <% end %>
  </div>

  <div class="pa3 pa5-ns">
    <h4 class="f4 fw6">Brooklyn</h4>
    <% @skate_spots.sort_borough('Brooklyn').each do  |skate_spot| %>

    <dl class="f6 lh-title mv2">
      <dt class="dib b"><%= link_to skate_spot.name, skate_spot_path(skate_spot), :class => "db f6 mb1 black link dim"%></dt>
      <dd class="dib ml0 gray">Description: <%= skate_spot.description %></dd>
    </dl>
    <% end %>
  </div>

  <div class="pa3 pa5-ns">
    <h4 class="f4 fw6">Bronx</h4>
    <% @skate_spots.sort_borough('Bronx').each do  |skate_spot| %>

    <dl class="f6 lh-title mv2">
      <dt class="dib b"><%= link_to skate_spot.name, skate_spot_path(skate_spot), :class => "db f6 mb1 black link dim"%></dt>
      <dd class="dib ml0 gray">Description: <%= skate_spot.description %></dd>
    </dl>
    <% end %>
  </div>

  <div class="pa3 pa5-ns">
    <h4 class="f4 fw6">Queens</h4>
    <% @skate_spots.sort_borough('Queens').each do  |skate_spot| %>

    <dl class="f6 lh-title mv2">
      <dt class="dib b"><%= link_to skate_spot.name, skate_spot_path(skate_spot), :class => "db f6 mb1 black link dim"%></dt>
      <dd class="dib ml0 gray">Description: <%= skate_spot.description %></dd>
    </dl>
    <% end %>
  </div>

  <div class="pa3 pa5-ns">
    <h4 class="f4 fw6">Staten Island</h4>
    <% @skate_spots.sort_borough('Staten Island').each do  |skate_spot| %>

    <dl class="f6 lh-title mv2">
      <dt class="dib b"><%= link_to skate_spot.name, skate_spot_path(skate_spot), :class => "db f6 mb1 black link dim"%></dt>
      <dd class="dib ml0 gray">Description: <%= skate_spot.description %></dd>
    </dl>
    <% end %>
  </div>
</div>