<main class="pa4 black-80 measure center">
  <legend class="f4 fw6 ph0 mh0">Sign In</legend>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, :class => "db fw6 lh-copy f6" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
  </div>

  <div class="field">
    <%= f.label :password, :class => "db fw6 lh-copy f6" %><br />
    <%= f.password_field :password, autocomplete: "current-password", :class => "pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, :class =>"pa0 ma0 lh-copy f6 pointer" %>
      <%= f.label :remember_me, :class => "pa0 ma0 lh-copy f6 pointer" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", :class => "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %>
  </div>
<% end %>
  <div class="lh-copy mt3">
  <%= render "devise/shared/links" %>
  </div>
</main>