  <h1> <%=@skate_shop.name %> </h1>
  Address: <%=@skate_shop.address %>
  <br>
  Borough: <%=@skate_shop.borough %>
  <br>
  Rating: <%= @skate_shop.rating%>
  <br>
  Description: <%= @skate_shop.description %>
  <br>
  Map:
  <br>
  <iframe src="<%= @skate_shop.google_map %>" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  <%= button_to "Review Shop", new_shop_review_path %>

   <hr>
<%@skate_shop.shop_reviews.each do |review|%>
  <p><b><%= review.user.name%></b>/
        <%= review.title%>/
          <b>rating:</b><%= review.rating%><br>

  <%= review.content %></p>
<%end%>
  <%= link_to "Review Shop", new_shop_review_path, :class => "button" %></p>