<h3>Add Park to Favorites </h3>
<%= form_with model: @user_skate_park do |f| %>
  <b> User: </b> <%= f.label current_user.name %>
  <%= f.hidden_field :user_id, value:current_user.id %>
  <br>
  <b> Skate Parks: </b>
  <br>
  <%= f.collection_select :skate_park_id, SkatePark.all, :id, :name %>
  <br>
  <%= f.submit %>
<% end %>
