<!DOCTYPE html>
<html>
  <head>
    <title>Skate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer>
    <hr>
      <b> 
        <%= link_to "Skate Spots", skate_spots_path %> | <%= link_to "Skate Parks", skate_parks_path %> | <%= link_to "Skate Shops", skate_shops_path %> 
      </b> 
    </footer>
  </body>
</html>
